[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.knave
Exec=/usr/libexec/xdg-desktop-portal-knave
SystemdService=xdg-desktop-portal-knave.service
