[Unit]
Description=Knave XDG Desktop Portal Backend
PartOf=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.knave
ExecStart=/usr/libexec/xdg-desktop-portal-knave
Restart=on-failure
RestartSec=2
